.second {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 20px;
    text-align: center;
    color: black;
    border: 2px solid black;
} 

.startBtn { 
    width: 150px;
    height: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 18px;
    
}

.timer {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 150px;
    color: black;
    font-family: Impact;
}